#main {
  margin-top: 6em;
}

#content {
  margin-top: 3em;
}
/*This block of CSS adds the floating effect on hover of the time card element*/
#time-card:hover{
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	-webkit-box-shadow: 10px 7.5px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 7.5px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 7.5px 13px -9px rgba(0,0,0,0.75);
}
/*This block of CSS adds the default visibility of hidden to the content buttons*/
#content-buttons{
	visibility: hidden;
}
/*This block of CSS adds the visibility hidden property to the content-buttons, while the user hovers over the time-card*/
#time-card:hover #content-buttons,
#time-card:hover ~ #content-buttons {
	visibility: visible;
}
